:root {
    --primary: #640D14;
    --secondary: #121212;
    --third: #1E1E1E;
    --text: #F4F2F8;
    --background: #0F0F0F;
}

/* FONT */
.bruno-ace-regular {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* BODY */
body,
html {
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
}

.container-fluid {
    background-color: var(--background);
    color: var(--text);
}

/* LOGO */
.logo-img {
    height: 48px;
    width: auto;
}

/* HEADER */
.nav-pill {
    text-decoration: none;
    color: var(--text);
    font-size: 0.85rem;
    padding: 7px 18px;
    border-radius: 25px;
    white-space: nowrap;
}

.nav-pill.active {
    background-color: var(--primary);
}



/* GIORNI */
.giorni {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.giorno {
    flex: 1;
    min-width: 60px;
    background-color: var(--secondary);
    border-radius: 25px;
    padding: 25px 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.giorno.active {
    background-color: var(--primary);
}

.g-num {
    font-size: 2rem;
    line-height: 1;
}

.g-nome {
    font-size: 0.8rem;
    margin-top: 6px;
}

.page {
    padding: 6px 20px 50px;
    max-width: 800px;
    margin: 0 auto;
}

.data-label {
    font-size: 0.82rem;
    margin-bottom: 16px;
}


/* BARRE MACRO */
.mbar {
    width: 55px;
    height: 10px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: var(--primary);
}

/* CERCHIO CALORIE */
.cerchio {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.cerchio svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    /* fa partire l'arco dall'alto */
}

.centro {
    position: absolute;
    inset: 0;
    /* equivale a top:0 right:0 bottom:0 left:0 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.kcal {
    font-size: 2rem;
    line-height: 1;
}

.totale {
    font-size: 0.65rem;
    margin-top: 4px;
}

/* BOTTONE + */
.btn-plus {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--primary);
    border: none;
    color: var(--text);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
}

.btn-plus:hover {
    opacity: 0.85;
}

/* PASTI */
.pasto {
    background-color: var(--secondary);
    border-radius: 14px;
    padding: 14px 16px;
    margin-bottom: 10px;
}

.pasto-emoji {
    font-size: 1.8rem;
    width: 36px;
    text-align: center;
    flex-shrink: 0;
}