:root {
    --primary-color: #640D14;
    --secondary-color: #121212;
    --third-color: #1E1E1E;
    --text-color: #F4F2F8;
    --background: #0F0F0F;
}

/* FONT */
.bruno-ace-regular {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* BODY */

.container-fluid {
    height: 100vh;
    background-color: var(--background);
    color: var(--text-color);
    overflow: auto;
}


#form-container {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw;
    width: fit-content;
    border-radius: 25px;
    max-width: 800px;
    margin: 5vh auto;
}

.insieme {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.campo-full {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.campo-singolo {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 120px;
}

#campo-data {
    flex: 2.5;
}

#form-container h3 {
    color: var(--primary-color);
    font-size: 2.2rem;
    margin-bottom: 20px;
}

label{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 1rem;
}

input, select {
    background-color: var(--third-color);
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    width: 100%;
}

/* SUBMIT */
#invio {
    background-color: var(--primary-color);
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    width: fit-content;
}

#invio:hover {
    opacity: 0.9;
}

/* --- REGOLE PER TELEFONI --- */
@media (max-width: 600px) {
    #form-container {
        padding: 30px 30px;
        margin-top: 2vh;
    }

    .insieme {
        flex-direction: column;
        gap: 0;
    }

    .campo-singolo {
        width: 100%;
        margin-bottom: 15px;
    }

    #form-container h3 {
        font-size: 1.5rem;
    }
}