:root {
    --primary: #640D14;
    --secondary: #121212;
    --third: #1E1E1E;
    --text: #F4F2F8;
    --background: #0F0F0F;
    --hover: #a31621;
}

/* FONT */
.bruno-ace-regular {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* BODY */
body,
html {
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;

}

.container-fluid {
    background-color: var(--background);
    color: var(--text);
}

/* SIDEBAR */
.sidebar {
    overflow: hidden;
    background-color: #1a1a1a;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 1px solid #252525;
}

.logo {
    font-weight: 700;
}

.logo span {
    color: var(--primary);
}

.nav-link {
    color: var(--text-muted);
    padding: 15px 18px;
    font-size: 1rem;
    border-right: 3px solid transparent;
}

.nav-link:hover {
    color: var(--text);
}

.nav-link.active {
    color: var(--text);
    background: linear-gradient(90deg, transparent, var(--primary));
    border-right: 3px solid var(--primary);
}

.nav-link i {
    margin-right: 10px;
}


/* Pill titolo */
.title-pill {
    background: var(--background);
    padding: 6px 20px;
    border-radius: 30px;
    color: var(--primary);
    font-weight: 500;
}

.small-pill {
    font-size: 0.9rem;
}

.section-title {
    background: var(--primary);
    display: inline-block;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 1rem;
}

.close-x {
    margin-left: 5px;
    color: var(--primary);
}

/* Icona modifica */
.edit-icon {
    margin-left: 12px;
    cursor: pointer;
    color: var( --text);
    background-color: var(--background);
    transition: 0.2s ease;
}

/* Card principale */
.card-custom {
    background: var(--secondary);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.05);
}

/* Box esercizio */
.exercise-box {
    background: var(--third);
    border-radius: 15px;
}

/* Tabella */
.custom-table {
    border-radius: 10px;
    overflow: hidden;
    color: var(--text);
}


.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
    background-color: var(--third);
    color: var(--text);
}


/* Bottone aggiungi serie */
.add-series-btn {
    background: var(--background);
    color: var(--text);
    border-radius: 20px;
    padding: 6px 20px;
    transition: 0.3s;
}

.add-series-btn:hover {
    background: #222;
}

/* Bottone aggiungi esercizio */
.add-exercise-btn {
    background: var(--primary);
    color: var(--text);
    border-radius: 25px;
    padding: 8px 30px;
    transition: 0.3s;
}

.add-exercise-btn:hover {
    background: var(--hover);
}

/* Bottone salva */
.save-btn {
    background: var(--primary);
    color: var(--text);
    border-radius: 25px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.save-btn:hover {
    background: var(--hover);
}
